[submodule "content/media/vendor/github-widget"]
	path = content/media/vendor/github-widget
	url = https://github.com/jawj/github-widget.git
[submodule "content/media/vendor/socialite"]
	path = content/media/vendor/socialite
	url = https://github.com/dbushell/Socialite.git
