---
title: ¡ Bienvenido !
description: comisión de cooperativas tecnológicas del INAES
next: ¿ Quienes Somos ?
---

{% extends "topbar.j2" %}

{#
    You can put the HTML in the "content" folder but it's not recommended. The aim of Hyde is to abstract the
    presentation layer. So this is more of an example of what not to do. I just didn't want to clutter the layouts
    folder any more.
 #}
{% block jumbotron %}
  <!-- Example row of columns -->
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="jumbotron masthead">
    <div class="container">
      <h1><a href="#">tic</a>.<a href="http://inaes.gob.ar">inaes</a>.<a href="#">gob</a>.<a href="#">ar</a></h1>
      <p>
        Comisión de Cooperativas Tecnológicas
      </p>
      <p><a class="btn btn-primary btn-large" href="who.html">¿ Quienes Somos ? &raquo;</a></p>
      <ul class="masthead-links">
        <li>
          <a href="http://github.com/tic-inaes">GitHub</a>
        </li>
        <li>
          <a href="http://www.desarrollosocial.gob.ar">Ministerio de Desarrollo Social</a>
        </li>
    </div>
  </div>
{% endblock jumbotron %}

  {% block content %}
  <div class="row-fluid" id="marketing">
    <div class="span4">
      <h2>Promoción</h2>
      <p><b>Otra Tecnología</b><p>
      <p>
        La comisión esta enmarcada en la «Coordinación de Promoción», por
        ende, una parte central de nuestra misión es de difundir al
        cooperativismo. Obviamente, nos enfocamos en los proyectos con
        injerencia en asuntos tecnológicos.
      </p>
      <p><a class="btn" href="promo.html">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Asesoría</h2>
      <p><b>Especialistas a tu disposición</b></p>
      <p>
        Reforzando la presencia del Estado en el desarrollo tecnológico de
        la nación, nuestro equipo ofrece a proyectos seleccionados,
        servicios de asesoría técnica. Para construir juntos un sector
         cooperativo moderno, integrado y unido.
      </p>

      <p><a class="btn" href="consulting.html">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Código</h2>
      <p><b>La palabra es barata…</b></p>
      <p>
        Nuestra misión de Promoción se traduce por tecnología reutilizable,
        para todos, por ende nuestros desarrollos se publican en
        <a href="http://es.wikipedia.org/wiki/Software_Libre">Software Libre</a>,
        forkealos, parchealos, y mandanos tus modificaciones. En realidad,
        <a href="http://github.com/inaes-tic/pagina"> esta página
          también</a>.
      <p><a class="btn" href="code.html">Detalles &raquo;</a></p>
    </div>
  </div>
{% endblock content %}
