---
title: ¡ Bienvenido !
description: comisión de cooperativas tecnológicas del INAES
next: ¿ Quienes Somos ?
default_block: None
---

{% block jumbotron %}
  <!-- Example row of columns -->
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="jumbotron masthead">
    <div class="container">
    <h1>
    [tic](#).[inaes](http://www.inaes.gob.ar).[gob](http://presidencia.gob.ar).[ar](http://argentina.gob.ar)
    </h1>
      <p>
        Comisión de Cooperativas Tecnológicas
      </p>
      <p><a class="btn btn-primary btn-large" href="who.html">¿ Quienes Somos ? &raquo;</a></p>
      <ul class="masthead-links">
        <li>
           [GitHub](http://github.com/tic-inaes)
        </li>
    </div>
  </div>
{% endblock jumbotron %}

  {% block content %}
  {% from "macros.j2" import render_blog_listing with context %}
  <div class="row-fluid" id="marketing">
    {% for node in resource.node.child_nodes|sort(attribute="name") %}
         {% if node.name != "media" %}
                  {{ render_blog_listing(node.walk_resources_sorted_by_name()[0:1])}}
         {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
