---
title: Landing Page
description: Test description
---

{% extends "topbar.j2" %}


{% block css %}
<style type="text/css">
  body {
    padding-top: 60px;
  }
</style>
{% endblock css %}

{#
    You can put the HTML in the "content" folder but it's not recommended. The aim of Hyde is to abstract the
    presentation layer. So this is more of an example of what not to do. I just didn't want to clutter the layouts
    folder any more.
 #}
{% block content %}
  <!-- Example row of columns -->
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>¡ Bienvenido !</h1>
    <p>
      llegastes a la página de la Comisión de Cooperativas Tecnológicas del INAES.
    </p>
    <p><a class="btn primary large" href="#who">¿ Quienes Somos ? &raquo;</a></p>
  </div>
  <div class="row" id="who">
    <div class="span-one-third">
      <h2>Promoción</h2>
      <p><b>Otra Tecnología</b><p>
      <p>
        La comisión esta enmarcada en la «Coordinación de Promoción», por
        ende, una parte central de nuestra misión es de difundir al
        cooperativismo. Obviamente, nos enfocamos en los proyectos con
        ingerencia en asuntos tecnológicos.
      </p>
      <p><a class="btn" href="#promotion">Detalles &raquo;</a></p>
    </div>
    <div class="span-one-third">
      <h2>Asesoría</h2>
      <p><b>Especialistas a tu disposición</b></p>
       <p>
         Reforzando la presencia del Estado en el desarrollo tecnológico de
         la nación, nuestro equipo ofrece a proyectos seleccionados,
         servicios de asesoría técnica. Para construir juntos un sector
         cooperativo moderno, integrado y unido.
       </p>

      <p><a class="btn" href="#">Detalles &raquo;</a></p>
   </div>
    <div class="span-one-third">
      <h2>Código</h2>
      <p><b>La palabra es barata…</b></p>
      <p>
        Nuestra misión de Promoción se traduce por tecnología reutilizable,
        para todos, por ende nuestros desarrollos se publican en
        <a href="es.wikipedia.org/wiki/Software_Libre">Software Libre</a>,
        forkealos, parchealos, y mandanos tus modificaciones. En realidad,
        hasta esta página está <a href="http://github.com/inaes-tic/pagina">publicada</a>.
      <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
  </div>
  <div id="promotion">
    <h1> Promoción </h1>
    Hello World
  </div>
{% endblock content %}
