{# Adds in the topbar #}

{% extends "base.j2" %}

{% block body %}

{% block topbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{ home_url }}">{{ site_title }}</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        {% from "macros.j2" import render_main_menu with context %}
        {{ render_main_menu() }}
      </div>

    </div>
  </div>
</div>
{% endblock topbar %}

{% block jumbotron %}
{% endblock jumbotron %}

{{ super() }} {# Use this to include the rest of the body block as it was originally defined #}

{% endblock body %}
